@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DatVeXemPhim</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/favicon.ico" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DatVeXemPhim.styles.css" asp-append-version="true" />
</head>
<body>
    <header id="header" class="d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">
            <h1 class="logo">Trang Quản Lý</h1>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto" asp-area="" asp-controller="Phims" asp-action="Index">Quản Lí Phim</a></li>
                    <li><a class="nav-link scrollto" asp-area="" asp-controller="TheLoaiPhims" asp-action="Index">Quản Lí Thể Loại</a></li>
                    <li><a class="nav-link scrollto" asp-area="" asp-controller="PhongChieus" asp-action="Index">Quản Lí Phòng Chiếu</a></li>
                    <li><a class="nav-link scrollto" asp-area="" asp-controller="Ghes" asp-action="Index">Quản Lí Phòng Ghế</a></li>
                    <li><a class="nav-link scrollto" asp-area="" asp-controller="NhanViens" asp-action="Index">Quản Lí Nhân Viên</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->
            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="#hero">Đăng nhập</a></li>
                    <li><a class="nav-link scrollto active" href="#hero">Đăng ký</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </div>
</body>
</html>
