@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Đặt Vé Xem Phim</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="shortcut icon" href="~/lib/favicon.ico" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DatVeXemPhim.styles.css" asp-append-version="true" />
</head>
<body>
    <header id="header" class="d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">
            <img style="width:150px;height:150px" src="https://i.imgur.com/9l0fapj.png" alt="Logo">
            <h1 class="logo"><a asp-controller="Home" asp-action="Index">Trang chủ<span></span></a></h1>
            <nav id="navbar" class="navbar">
                <ul>
                    <li class="dropdown">
                        <a href="#"><span>Danh sách Phim</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a class="nav-link text-dark" asp-area="" asp-controller="Phims" asp-action="NowShowing">Phim đang chiếu</a></li>
                            <li><a class="nav-link text-dark" asp-area="" asp-controller="Phims" asp-action="UpComing">Phim sắp chiếu</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Phims" asp-action="NowShowing"><span>Vé đã đặt</span> <i class="bi bi-chevron-down"></i></a>
                    </li>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
            <nav id="search-navbar" class="navbar">
                <ul>
                    <form class="d-flex search-bar" asp-controller="Home" asp-action="Search" method="get">
                        <input class="form-control me-2" type="search" placeholder="Tìm kiếm phim..." aria-label="Search" name="SearchString">
                        <input class="btn btn-outline-success" type="submit" value="Tìm kiếm" />
                    </form>
                </ul>
            </nav>
            <nav id="user-navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="#hero">Đăng nhập</a></li>
                    <li><a class="nav-link scrollto active" href="#hero">Đăng ký</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </div>
    <div class="container-fluid">
        <div class="row">
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                @RenderBody()
            </main>
        </div>
    </div>
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <h3>COLY CEMINA</h3>
                <div class="row">
                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Địa Chỉ</h4>
                        <p>
                            170 An Dương Vương <br>
                            Nguyễn Văn Cừ, TP.Quy Nhơn<br>
                            Bình Định <br><br>
                        </p>
                    </div>
                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Chăm Sóc Khách Hàng</h4>
                        <strong>Phone:</strong> +1 5589 55488 55<br>
                        <strong>Email:</strong> coly123@example.com<br>
                    </div>
                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Danh sách thành viên</h4>
                        <strong>Trần Đình Chiến</strong> - 4451050025<br>
                        <strong>Lê Anh Đức </strong> - 4451050080<br>
                        <strong>Nguyễn Phi Hùng</strong> - 4451050140<br>
                        <strong>Trần Phúc Hưng</strong> - 4451050147<br>
                        <strong>Trần Đặng Lâm</strong> - 4451050172<br>
                        <strong>Nguyễn Thị Kiều Oanh</strong> - 4451050252<br>
                    </div>
                    <div class="col-lg-3 col-md-6 footer-links">
                        <img style="max-width:100%;max-height:100%" src="https://i.pinimg.com/originals/17/bf/7b/17bf7b743757a60e3e5cd0deae540ca9.gif">
                    </div>
                </div>
            </div>
        </div>
        <div class="container py-4">
            <div class="copyright">
                &copy; Copyright <strong><span>Coly Cinema</span></strong>. All Rights Reserved
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
