@{
    ViewData["Title"] = "Login";
}
<div class="container">
    <h2>Đăng Nhập</h2>
    <form asp-action="Login" method="post">
        <div class="form-group">
            <label for="taiKhoan">Tài khoản</label>
            <input type="text" class="form-control" id="taiKhoan" name="taiKhoan" required>
        </div>
        <div class="form-group">
            <label for="matKhau">Mật khẩu</label>
            <input type="password" class="form-control" id="matKhau" name="matKhau" required>
        </div>
        <div class="form-group">
            <input type="checkbox" id="RememberMe" name="RememberMe">
            <label for="RememberMe">Nhớ mật khẩu</label>
        </div>
        <button type="submit" class="btn btn-primary">Đăng Nhập</button>
        <div class="text-center">
            <p>Bạn chưa có tài khoản? <a asp-controller="Account" asp-action="Register">Đăng ký</a></p>
        </div>
    </form>
</div>