@{
    ViewData["Title"] = "Đăng ký thành công";
}

<h2>Đăng ký thành công!</h2>

<p>Cảm ơn bạn đã đăng ký tài khoản!!! Bây giờ bạn có thể bắt đầu sử dụng dịch vụ của chúng tôi.</p>

<p>Vui lòng quay về trang <a asp-action="Login" asp-controller="Account" class="btn btn-primary">ĐĂNG NHẬP</a> để tiếp tục.</p>


