@model IEnumerable<DatVeXemPhim.Models.Ve>

<h1 style="margin-top: 20px">Bước 2: Chọn ghế</h1>

<label for="your_select_name">Hãy chọn hàng ngang:</label>
<select id="your_select_name" name="your_select_name">
    <option value="option1">A</option>
    <option value="option2">B</option>
    <option value="option3">C</option>
    <option value="option4">D</option>
    <option value="option5">E</option>
    <option value="option6">F</option>
    <option value="option7">G</option>
</select>

<div><label for="your_select_name">Hãy chọn hàng dọc:</label>
<select id="your_select_name" name="your_select_name">
    <option value="option1">1</option>
    <option value="option2">2</option>
    <option value="option3">3</option>
    <option value="option4">4</option>
    <option value="option5">5</option>
    <option value="option6">6</option>
    <option value="option7">7</option>
    <option value="option8">8</option>
    <option value="option9">9</option>
    <option value="option10">10</option>
    <option value="option11">11</option>
    </select>
</div>

<img src="https://i.imgur.com/QTk80hV.png" alt="Your Image Description">

<div><a asp-controller="Ves" asp-action="Index" asp-route-id=""><button style="margin-top: 20px" class="btn btn-warning">Tạo Vé</button></a></div>

