@model DatVeXemPhim.Models.KhachHang

@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-center display-4">Chỉnh Sửa</h1>

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6 shadow p-4 rounded bg-white">
            <h4>Khách hàng</h4>
            <hr />
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="id" />
                <div class="form-group mb-3">
                    <label asp-for="hoTen" class="form-label">Họ Tên</label>
                    <input asp-for="hoTen" class="form-control" />
                    <span asp-validation-for="hoTen" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="soDienThoai" class="form-label">Số Điện Thoại</label>
                    <input asp-for="soDienThoai" class="form-control" />
                    <span asp-validation-for="soDienThoai" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="email" class="form-label">Email</label>
                    <input asp-for="email" class="form-control" />
                    <span asp-validation-for="email" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="taiKhoan" class="form-label">Tài Khoản</label>
                    <input asp-for="taiKhoan" class="form-control" />
                    <span asp-validation-for="taiKhoan" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="matKhau" class="form-label">Mật Khẩu</label>
                    <input asp-for="matKhau" class="form-control" />
                    <span asp-validation-for="matKhau" class="text-danger"></span>
                </div>
                <div class="form-group d-flex justify-content-end mt-4">
                    <button type="submit" class="btn btn-primary">Lưu</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="text-center mt-4">
    <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
