@model DatVeXemPhim.Models.NhanVien
@{
    Layout = "DangNhapAdmin";
    ViewBag.Title = "Login";
}

<head>
    <link href="~/css/login.css" rel="stylesheet" />
</head>

<body>
    <section class="container">
        <div class="image-container">
            <img src="https://qoobee.com/wp-content/uploads/Love_Emoji_Animated_QooBee_Agapi_1.png?is-pending-load=1" alt="illustration" class="illustration" />
        </div>
        
        <div class="login-content">
            <div class="login-container">
                <h1 style="color:black" class="opacity">ĐĂNG NHẬP ADMIN</h1>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-container">
                    <form asp-action="DangNhap" method="post">
                        <input asp-for="taiKhoan" type="text" id="username" name="taiKhoan" placeholder="Nhập tên đăng nhập" required/>
                        <input  asp-for="matKhau" type="password" id="password" name="matKhau" placeholder="Nhập mật khẩu" required/>
                        <button type="submit" class="opacity">Đăng nhập</button>
                    </form>
                </div>
            </div>
        @* <div class="login-content">
            <div class="login-container">
            <div class="row">
                <div class="col-md-4">
                        <div class="form-container">
                    <form asp-action="DangNhap">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div>
                            <label asp-for="taiKhoan" ></label>
                            <input asp-for="taiKhoan" />
                            <span asp-validation-for="taiKhoan" class="text-danger"></span>
                        </div>
                        <div >
                            <label asp-for="matKhau"></label>
                            <input asp-for="matKhau"/>
                            <span asp-validation-for="matKhau" class="text-danger"></span>
                        </div>
                   
                        <div class="form-group">
                            <input type="submit" value="Đăng nhập" class="btn btn-primary" />
                        </div>
                    </form>
                    </div>
                </div>
            </div>
            </div>
        </div> *@

            <div class="image-container">
                <img src="https://scr.vn/wp-content/uploads/2020/07/hinh-anh-dong-de-thuong_112054094.gif" alt="illustration" class="illustration" />
            </div>
        </div>
    </section>
</body>

<script src="~/js/script.js"></script>
