@model DatVeXemPhim.Models.Ghe

@{
    ViewData["Title"] = "Create";
}

<h1>Thêm</h1>

<h4>Ghế</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="maPhong" class="control-label"></label>
                <input asp-for="maPhong" class="form-control" />
                <span asp-validation-for="maPhong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tenGhe" class="control-label"></label>
                <input asp-for="tenGhe" class="form-control" />
                <span asp-validation-for="tenGhe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Trở Lại</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
