@model DatVeXemPhim.Models.Ve

@{
    ViewData["Title"] = "Sửa thông tin vé";
}

<div class="container mt-4">
    <h1 class="text-center">@ViewData["Title"]</h1>
    <div class="row justify-content-center mt-4">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="id" />
                <div class="form-group">
                    <label asp-for="maXuatChieu" class="control-label">Mã xuất chiếu</label>
                    <select asp-for="maXuatChieu" class="form-control" asp-items="ViewBag.maXuatChieu"></select>
                    <span asp-validation-for="maXuatChieu" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="maKhachHang" class="control-label">Tên khách hàng</label>
                    <select asp-for="maKhachHang" class="form-control" asp-items="ViewBag.maKhachHang"></select>
                    <span asp-validation-for="maKhachHang" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="maNhanVien" class="control-label">Tên nhân viên</label>
                    <select asp-for="maNhanVien" class="form-control" asp-items="ViewBag.maNhanVien"></select>
                    <span asp-validation-for="maNhanVien" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="maGhe" class="control-label">Tên ghế</label>
                    <select asp-for="maGhe" class="form-control" asp-items="ViewBag.maGhe"></select>
                    <span asp-validation-for="maGhe" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ngayBanVe" class="control-label"></label>
                    <input asp-for="ngayBanVe" class="form-control" />
                    <span asp-validation-for="ngayBanVe" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="tongTien" class="control-label"></label>
                    <input asp-for="tongTien" class="form-control" />
                    <span asp-validation-for="tongTien" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Lưu" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div class="text-center mt-4">
        <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
