a {
    color: #106eea;
    text-decoration: none;
}

    a:hover {
        color: #3b8af2;
        text-decoration: none;
    }

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", sans-serif;
}

body {
    background-color: white;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    background: #fff;
    transition: all 0.5s;
    z-index: 997;
    height: 160px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

    #header.fixed-top {
        height: 70px;
    }

    #header .logo {
        font-size: 15px;
        color:blue;
        margin: 0;
        padding: 0;
        line-height: 1;
        font-weight: 600;
        letter-spacing: 0.8px;
        font-family: "Poppins", sans-serif;
    }

        #header .logo a {
            color: #222222;
        }

            #header .logo a span {
                color: #106eea;
            }

        #header .logo img {
            max-height: 40px;
        }

.scrolled-offset {
    margin-top: 70px;
}
----------------------------------------------------------*/

/* CSS cho sidebar bên trái */
.sidebar {
    position: sticky;
    top: 0;
    height: 100vh;
    overflow-y: auto;
    border-right: 1px solid #dee2e6;
}

    .sidebar .nav-link {
        font-weight: 600;
        padding: 10px;
        color: #222222;
        transition: all 0.3s;
    }

        .sidebar .nav-link:hover {
            color: #106eea;
            background-color: rgba(16, 110, 234, 0.1);
        }

        .sidebar .nav-link.active {
            color: #106eea;
            font-weight: bold;
        }

    .sidebar ul.nav {
        padding-left: 0;
        list-style-type: none;
    }

        .sidebar ul.nav li {
            margin-bottom: 8px;
        }

@media (max-width: 991px) {
    .sidebar {
        position: static;
        height: auto;
        border-right: none;
    }
}

